<form  novalidate class="form-group" ng-submit="addActivity()">
    <input type="text" class="form-control" placeholder="set a new task" ng-model="task.activity"/>
    <select class="form-control" ng-model="task.dificult">
        <option value="{{$index+1}}" ng-repeat="dificult in items">{{$index+1}}</option>        
    </select>    
    
    <select class="form-control" ng-model="task.priority">
        <option value="less important" >less important</option>        
        <option value="important" >important</option>        
        <option value="very important" >very important</option>        
    </select>    
    <input type="submit" value="enviar" class="btn btn-lg btn-default"/>
</form>
