<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>id</th>
                  <th>activity</th>
                  <th>priority</th>
                  <th>dificult</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in list">
                  
                      <td><i class="glyphicon glyphicon-ok" ng-if="item.status==1" ></i> <i class="glyphicon glyphicon-remove" ng-if="item.status==0" ></i></td>
                  <td>1002</td>
                  <td>{{item.activity}}</td>
                  <td>{{item.priority}}</td>
                  <td>{{item.dificult}}</td>
                </tr>
               
                
                
                 <tr>
                  <td></td>
                  <td>1002</td>
                  <td>{{activity}}</td>
                  <td>{{priority}}</td>
                  <td>{{dificult}}</td>
                </tr>
                
              </tbody>
            </table>
          </div>