          <ul class="nav nav-sidebar">
            <li><a ng-href="#/users/{{4*3}}">user</a></li>
            <li><a ng-href="#/list/{{4*3}}">lists</a></li>
            <li><a ng-href="#">Analytics</a></li>            
          </ul>
          
        