<div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="http://lorempixel.com/200/200/people" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>            
</div>